<div>
  <p-card>
    <ng-template pTemplate="header">
      <div class="text-center">
        <h2 class="text-xl font-semibold">Register</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <!-- Username Field -->
        <div class="p-field p-grid">
          <label for="username" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Username</label>
          <div class="p-col-12 p-md-10">
            <input id="username" pInputText formControlName="username" class="form-control" />
            <!-- Error messages for username field -->
            <small *ngIf="registerForm.get('username')?.hasError('required')" class="p-error">
              Username is required
            </small>
            <small *ngIf="registerForm.get('username')?.hasError('minlength')" class="p-error">
              Username must be at least 4 characters long
            </small>
          </div>
        </div>

        <!-- Password Field -->
        <div class="p-field p-grid">
          <label for="password" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Password</label>
          <div class="p-col-12 p-md-10">
            <input id="password" pPassword formControlName="password" class="form-control" type="password" />
            <!-- Error messages for password field -->
            <small *ngIf="registerForm.get('password')?.hasError('required')" class="p-error">
              Password is required
            </small>
            <small *ngIf="registerForm.get('password')?.hasError('minlength')" class="p-error">
              Password must be at least 6 characters long
            </small>
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="p-field p-grid">
          <label for="confirmPassword" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Confirm Password</label>
          <div class="p-col-12 p-md-10">
            <input id="confirmPassword" pPassword formControlName="confirmPassword" class="form-control" type="password" />
            <!-- Error messages for confirm password field -->
            <small *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="p-error">
              Confirm Password is required
            </small>
            <small *ngIf="registerForm.hasError('mismatch')" class="p-error">
              Passwords do not match
            </small>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="form-actions text-center mt-4">
          <button pButton type="submit" label="Register" icon="pi pi-user-plus" class="p-button-primary" [disabled]="registerForm.invalid"></button>
        </div>
      </form>
      <!-- Registration Error Message -->
      <div *ngIf="registrationError" class="error-message text-center mt-4 text-red-500">
        {{ registrationError }}
      </div>
    </ng-template>
  </p-card>
</div>
