<div class="login-container">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
        <div *ngIf="loginError" class="error">{{ loginError }}</div>
      </mat-card-content>
    </mat-card>
  </div>
  