// Styles for the task-list component
.task-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 56px); // Ensure it takes full viewport height minus navbar height
  padding: 20px;

  .container {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;

    .p-card {
      width: 100%;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background-color: #fff;

      .p-card-header {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
      }

      .p-card-content {
        display: flex;
        flex-direction: column;

        .p-table {
          width: 100%;
          margin-bottom: 20px;
          border-collapse: separate;
          border-spacing: 0 15px;

          th {
            background-color: #f5f5f5;
            font-weight: 600;
            text-align: left;
            padding: 16px;
            border-bottom: 2px solid #ddd;
          }

          td {
            background-color: #ffffff;
            text-align: left;
            padding: 16px;
            border-bottom: 1px solid #ddd;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #f1f1f1;
            }
          }

          tr {
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #f9f9f9;
            }
          }

          .p-column-actions {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            button {
              min-width: 64px;
            }
          }
        }
      }
    }
  }
}
